* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar style */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #9b9898;
  color: #fff;
}

.items {
  display: flex;
  list-style: none;
}

.item {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
}

/* Banner style */
.banner-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("../asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-title {
  font-size: 85px;
  font-weight: bold;
}

.primary-color {
  color: rgb(235, 90, 90);
}

.desc {
  font-size: 22px;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.btn {
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  margin: 5px;
}

.btn-discover {
  background-color: rgb(235, 90, 90);
  color: white;
}

.btn-hire {
  color: rgb(235, 90, 90);
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  color: #fff;
  padding: 20px;
  /* z-index: 1; */
}

.service-left-container {
  width: 50%;
}

.btn-service {
  color: gray;
  border-radius: 25px;
}

.service-title {
  font-size: 40px;
  font-weight: bold;
}

.service-subtitle {
  font-size: 20px;
  width: 50%;
  padding: 10px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.author-details {
  display: flex;
  align-items: center;
  padding: 10px;

  height: 80px;
  border-right: 2px solid rgb(226, 72, 72);
}

.author-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50px;
}

.details-btn {
  padding: 20px;
}

.s-items {
  margin: 20px;
}

.service-items {
  display: flex;
  gap: 20px;
}

.service-item {
  padding: 50px;
  background-color: #fff;
  box-shadow: 4px 4px 4px gray;
  width: 350px;
  height: 300px;
  text-align: center;
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.service-logo {
  width: 50%;
  padding-bottom: 10px;
}

/* Appointment section */
.appointment-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-color: rgb(235, 90, 90);
  padding: 30px;
  color: white;
  margin: auto;
  border-radius: 25px;
  /* z-index: 2; */
  margin-top: -80px;
}
.phone-call {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-icons {
  width: 90px;
}

.make-title {
  width: 75%;
}
